* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: sans-serif;
}

.freespace {
	height: 200px;
}

body {
		background: #0F172A;
}
/* ==================== Header ======================== */
header {
	height: auto;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	background: #475569;
}

.headnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-inline: 100px;
}

header img {
	height: 80px;
	border-radius: 50%;
	margin: 10px;
	border:1px solid white;
}

header nav a {
	border: 1px solid white;
	border-radius: 15px;
	text-decoration: none;
	color: white;
	padding: 10px;
	transition: 0.3s ease;
}

header nav a:hover {
	background: #333;
	border: 1px solid #333;
	color: white;
	transform: scale(1.1);
}

header nav {
	padding: 30px;
	display: flex;
	gap: 40px;
}

/* =================== Main section ===================== */



/* ------------- Main ------------- */

.mkhabit {
	background: #1E293B;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 550px;
	gap: 200px;
}

.mkhabit a {
	text-decoration: none;
	background: white;
	padding: 20px;
	border-radius: 20px;
	color: black;
	transition: 0.3s ease;
}

.mkhabit h1{
	color: white;
}

.mkhabit a:hover {
	color: white;
	background: #333;
	transform: scale(1.2);
}


/* --------------- Info -------------- */

.info {
	color: white;
	background: #475569;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
	height: 500px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	padding: 50px;
}

.infoblock {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.info a {
	width: 200px;
	text-decoration: none;
	padding: 15px;
	border-radius: 20px;
	border: 1px solid white;
	color: white;
	transition: 0.3s ease;
}

.info a:hover {
	background: #333;
	color: white;
	transform: scale(1.1);
	border: 1px solid #333;
}



/* ---------- Problem -> solution --------- */

.arrow-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #1E293B;
  transition: 0.3s ease;
}

.Problem-Solution {
	display: flex;
	gap: 100px;
	padding: 50px;
	align-items: center;
	justify-content: center;
}

.Problem {
	width: 220px;
	height: 300px;
	background: #1E293B;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	box-shadow: 0 0.2px 10px rgba(0, 0, 0, 0.15) ;
	padding: 50px;
	border-radius: 40px;
	transition: 0.3s ease;
}

.Problem ul {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.Solution {
	width: 220px;
	height: 300px;
	background: #1E293B;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	box-shadow: 0 0.2px 10px rgba(0, 0, 0, 0.15) ;
	padding: 50px;
	border-radius: 40px;
	transition: 0.3s ease;
}

.Solution ul {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.Problem:hover {
	transform: translateX(10px);
}

.Solution:hover {
	transform: translateX(10px);
}

.arrow-right:hover {
	transform: translateX(10px);
}

/* ----------- Steps ---------- */

.Steps {
	background: #334155;
	display: flex;
	border-radius: 30px;
	margin: 30px;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 600px;
	gap: 40px;
}

#Steps {
	border-right: 5px solid white;
	padding: 150px;
}

.Circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
}

.step1{
	display: flex;
	gap: 10px;
	align-items: center;
	transition: 0.4s ease;
}

.step2 {
	display: flex;
	gap:10px;
	align-items: center;
	transition: 0.4s ease;
}

.step3 {
	display: flex;
	gap: 10px;
	align-items: center;
	transition: 0.4s ease;
}

.step1:hover{
	transform: scale(1.1) ;
}

.step2:hover{
	transform: scale(1.1) ;
}

.step3:hover{
	transform: scale(1.1) ;
}

.Step-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
	padding: 50px;
}

/* =================== Example ================== */


/* ------------------- Example 1 ---------------- */
.ex1 {
	background: #334155;
	color: white;
	display: flex;
}

.ex1 img {
	height: 700px;
	filter: brightness(50%);
}

.ex1 div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 140%;
	gap: 40px;
	padding: 100px;
}

.ex1 div ul {
	list-style: none;
}

.ex1 div ul li {
	display: inline-block;
	gap: 20px;
}

/* ---------------------- Example 2 --------------- */

.ex2 {
	background: #1E293B;
	color: white;
	display: flex;
}

.ex2 img {
	height: 700px;
	filter: brightness(50%);
}

.ex2 div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 140%;
	gap: 40px;
	padding: 100px;
}

.ex2 div ul {
	list-style: none;
}

.ex2 div ul li {
	display: inline-block;
	gap: 20px;
}

/* ---------------------- Example 3 --------------- */

.ex3 {
	background: #475569;
	color: white;
	display: flex;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.ex3 img {
	height: 700px;
	filter: brightness(50%);
}

.ex3 div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 140%;
	gap: 40px;
	padding: 100px;
}

.ex3 div ul {
	list-style: none;
}

.ex3 div ul li {
	display: inline-block;
	gap: 20px;
}

/* ============== footer ==========  */

footer {
	height: 150px;
	background: #333;
	display: flex;
	justify-content: center;
	gap: 200px;
	align-items: center;
	padding: 100px;
	color: #999;
	font-size: 120%;
}

footer a img {
	height: 100px;
	border-radius: 50%;
	filter: brightness(50%);
	transition: 0.5s ease;
}

.footernav {
	display: flex;
	gap: 40px;
}

.footernav a {
	text-decoration: none;
	color: #999;
	transition: 0.3s ease;
}

.footernav a:hover{
	transform: translatey(-5px);
	color: white;
}

footer a img:hover {
	transform: translateY(-5px);
	filter: brightness(100%);
} 
